* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(166, 45, 236, 0.678);
  color: white;
  text-align: center;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  background-color: rgba(166, 45, 236, 0.678);
}

main {
  padding: 20px;
}

footer {
  background-color: rgba(166, 45, 236, 0.904);
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 7vh;
  font-size: 2vh;
}

#logomale {
  width: 10vw;
  border-radius: 10%;
  border: groove #a62decad 1vh;
}

#animacja {
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 7vh;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}

#animacja-content {
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 601px) {
  footer {
    position: fixed;
    width: 100%;
  }

  nav {
    top: 0;
  }
}
